// responsive img, max-width
@mixin img($max-width) {
    max-width: $max-width;
    width: 100%;
    height: auto;
}

// form
@mixin form($margin-bottom) {
    margin: 0 0 $margin-bottom 0;
    padding: 3px 5px;
    background-color: $form-bg;
}

// CLEAR ABSOLUTE POSITION
@mixin clear-abs {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


@mixin m-head($size)
{
    @include font-size($size);
    font-weight: bold;
}
