
// project breakpoints
$breakpoints: (
	maxTablet: "only screen and (max-width: #{em(768px)})",
    tablet: "only screen and (min-width: #{em(768px)})",
    desktop: "print, only screen and (min-width: #{em(1024px)})",
    print: "print"
);


// breakpoints for ie8 and below
$breakpoints-ie8: (desktop);


// font-family
$font-family-arial: arial, sans-serif;
$font-family-verdana: verdana, arial, sans-serif;


// font-size
$font-size-30px: 30px;
$font-size-20px: 20px;
$font-size-14px: 14px;


// bg color or font color
$color-cc000: #cc0000;
$color-cccccc: #cccccc;
$color-000000: #000000;



